name: "DOC - Build and deploy"
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - run: pip install mkdocs-material mdx_truly_sane_lists
      - uses: actions/setup-node@v6
        with:
          node-version: '18'

      - name: Generate docs pages
        run: node build.js

      - run: mkdocs gh-deploy --force

      # This step will evaluate the repo status and report the change
      - name: Check if there are changes
        id: changes
        if: ${{ success() }} || ${{ failure() }}
        run: |
          # Allow actions runner to access the workspace when ownership is flagged
          git config --global --add safe.directory "$GITHUB_WORKSPACE" || true

          # Detect any changes in the working tree (including untracked files)
          git_status=$(git status --porcelain)
          if [ -n "$git_status" ]; then
            echo "changed=1" >> $GITHUB_OUTPUT
          else
            echo "changed=0" >> $GITHUB_OUTPUT
          fi

      # Push new commit if applicable
      - name: Prepare commit
        if: steps.changes.outputs.changed == 1
        run: sudo chown -Rc $UID .git/
      - name: Commit and push applied linter fixes
        if: steps.changes.outputs.changed == 1
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          branch: ${{ github.event.pull_request.head.ref || github.head_ref || github.ref }}
          commit_message: "[automation] Update documentation"
